<div class="navbar-container navbar navbar-light">
  <%= link_to root_path, class: "btn btn-link .btn-lg nav-btn" do %>
    <i class="fas fa-utensils"></i> Restaurants
  <% end %>
  
  <%= link_to new_restaurant_path, class: "btn btn-link .btn-lg nav-btn" do %>
    <i class="fas fa-folder-plus"></i> Submit a Restaurant
  <% end %>
</div>