<div class="navbar-container navbar navbar-light" style="background-color: #c7e1f3;">
  <%= link_to root_path, class: "btn btn-link .btn-lg" do %>
    <i class="fas fa-utensils"></i> Restaurants
  <% end %>
</div>